
/* Estilo geral do corpo */
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #000000, #000000); /* Gradiente de azul */
    color: #333; /* Cor do texto */
}

/* Estilo do cabeçalho */
header {
    background: linear-gradient(to right, #00161b, #2564a0); /* Gradiente de azul */
    color: white; /* Texto branco */
    padding: 150px 1;
    text-align: left;
}

/* Estilo dos títulos */
h1, h2 {
    color: #1a79e6; /* Cor azul */
}

/* Estilo dos parágrafos */
p {
    color: #ffffff; /* Cor do texto */
    line-height: 2.0; /* Altura da linha */
}

/* Estilo das listas */
.w3-ul {
    background-color: rgb(0, 0, 0); /* Cor de fundo branca para listas */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Padding interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo das seções */
.w3-content {
    margin: 20px auto; /* Margem automática */
    max-width: 800px; /* Largura máxima */
    padding: 20px; /* Padding */
    background: linear-gradient(to right, #00161b, #2564a0); /* Gradiente de azul */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo dos botões */
.w3-button {
    background-color: #000000; /* Cor de fundo do botão */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    border-radius: 12px; /* Bordas arredondadas */
    cursor: pointer; /* Mãozinha no hover */
    transition: background-color 0.3s; /* Transição suave */
}

.w3-button:hover {
    background-color: #0026ff; /* Cor do botão ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.9); /* Cor do rodapé com transparência */
    color: white; /* Texto branco */
    padding: 20px 0;
    text-align: left;
}

/* Estilos para o formulário */
input[type="text"], 
input[type="email"], 
textarea {
    width: 100%; /* Largura total */
    padding: 10px; /* Padding interno */
    margin: 10px 0; /* Margem */
    border: 1px solid #2c5cc5; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
}

textarea {
    height: 100px; /* Altura do textarea */
}

/* Estilo da imagem */
img {
    max-width: 100%; /* Imagem responsiva */
    height: auto; /* Manter proporção */
}

/* Estilos para pequenos dispositivos */
@media only screen and (max-width: 600px) {
    header {
        padding: 30px 0; /* Ajusta o padding do cabeçalho */
    }
}
